.App {
  text-align: center;
  margin-top: 2rem;
  --50: #EFE5FD;
  --100: #D4BFF9;
  --200: #B794F6;
  --300: #9965F4;
  --400: #7E3FF2;
  --500: #6002EE;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

